@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	::selection {
		background-color: #c51a72;
		/* Warna latar belakang */
		color: white;
		/* Warna teks yang terseleksi */
	}
}
